{% extends "layout.njk" %} {% block content %} {% for cart in game.cart%}
<h2>Username:</h2>
<p>{{ cart.name }}</p>
<h2>Comments:</h2>
<p>{{ cart.price }}</p>
{% endfor %} {% endblock %}{% endblock %}
