{% extends "layout.njk" %} {% block content %}
<div class="bg-image" style="background-image: url('./assets/images/fondlisteunjeu.jpeg'); object-fit: cover">
  <h1><p class="text-center">Voir les infos du jeu selectionné !!</p></h1>

  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ game.cover.url }}" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <h2> {{ game.price }}</h2>
          <p class="card-text">{{ game.summary }}</p>
        </div>
      </div>
    </div>
  </div>

  
  

  <form method="POST" action="/cart">
  <div>
    <label>Username :</label>
    <input type="submit" name="name" />
  </div>
  <div>
    <label>Comment :</label>
    <textarea name="comment" id="" cols="50" rows="10"></textarea>
  </div>
  <button type="submit" class="btn btn-success" >Send</button>
  </form>

  

  


  {% endblock %}
</div>
