{% extends "layout.njk" %} {% block content %}
<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      @
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-img">
        <img src="../assets/images/metalgear.jpeg" class="d-block w-100" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img">
        <img src="../assets/images/supermeat.jpeg" class="d-block w-100" />
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/images/ff.jpeg" class="d-block w-100" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<a href="{{ connectLoginURL }}">login</a>

{{ loggedIn }} Logged in ?
<div
  class="img-responsive"
  style="
    background-image: url('./assets/images/logopleinecran.jpeg');
    height: 100vh;
    width: 100wh;
    object-fit: cover;
  "
>
  <div class="wrapper">
    <header class="main-head">
      <div class="card">
        <div class="card-body">
          Bienvenue sur mon incroyable site de liste de jeux et de
          plateformes!!!!!!.
        </div>
      </div>
    </header>

    <article class="content">
      <h1>Que faire sur ce site ?</h1>
      <p>
        Grâce à se site internet vous pourrez naviguer vers une liste de jeux ou
        vers une liste de plateformes. vous pourrez ainsi voir tous les jeux
        disponibles pour une plateforme selectionné ou alors voir le résumé d'un
        jeux en particulier.
      </p>
      <p>
        C'est tout pour le moment<br />N'hesitez pas a m'envoyer un mail ou un
        texto pour plus d'informations. En attendant bonne visite et à bientôt.
      </p>
    </article>
    <aside class="side">
      <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
          <p>
            <a
              href="mailto:romuald.lecorroller@gmail.com"
              target="_blank"
              class="btn btn-primary"
              >Email Me</a
            >
          </p>
          <p>
            <a href="sms:+33711223344" target="_blank" class="btn btn-primary"
              >Send SMS</a
            >
          </p>
        </div>
      </nav>
    </aside>
    <div class="ad">
      <p>Publicité</p>
      <div class="img">
        <img src="./assets/images/pub.jpeg" alt="..." class="img-thumbnail" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
