{% extends "layout.njk" %}

{% block content %}
<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Top of the Page</a>
    <p>
      <a class="navbar-brand" href="/games">Explore video games </a>
    </p>
    <p>
      <a class="navbar-brand" href="/platforms">Explore platforms</a>
    </p>
    <p>
      <a class="navbar-brand" href="/">Home page</a>
    </p>
  </div>
</nav>
   
{% endblock %}