
{% extends "layout.njk" %} {% block content %}
<h1><p class="text-center">list platforms</p></h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for platform in platforms %}
  <div class="col">
    <div class="card h-100">
      <img
        width="100px"
        height="400px"
        src="{{ platform.cover }}"
        class="card-img-top"
        alt="Responsive image"
      />
      <div class="card-body">
        <h3 class="card-title">{{ game.name }}</h3>
      </div>
      <div class="card-footer">
        <div class="card text-center">
          <button type="button" class="btn btn-info">
            <a href="/platforms/{{ platform.slug }}">view all games for this {{ platform.name}}</a>
          </button>
        </div>
        <!-- Le chiffre 1 correspond a l'incrementation du panier -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}


