{% extends "layout.njk" %} {% block content %}

<h1><p class="text-center">liste des jeux pour cette platforme</p></h1>
<ul>
  {% for game in gamesForPlatform %}
  <!-- <li class="list-group-item">
    <img src="{{ platform.cover }}" />  {{ platform.name }}</a>
  </li> -->
  <li>
    <img src="{{ game.cover.url }}" /> <a href="/games/{{ game.slug }}">{{ game.name }}</a>
  </li>

  {% endfor %}
</ul>
{% endblock %}
