/* Ne pas toucher style de police de la page */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* Titres des pages, games, game-slug, platforms, platforms-slug */
.title-page {
  font-family: "Orbitron", sans-serif;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
  color: white;
  position: relative;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

h1 {
  color: red;
}

.carousel-img {
  width: auto;
  height: auto;
}

body {
  background-color: grey;
}
